[Unit]
Description=STEEM Wallet daemon
After=network.target

[Service]
User=steemwalletd
WorkingDirectory=/var/local/steemwalletd
ExecStart=/usr/local/bin/cli_wallet --rpc-endpoint -d
Restart=always

[Install]
WantedBy=multi-user.target
